.good {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
  min-height: 358px;
  transition: scale .2s linear;
  box-shadow: 2px 2px 5px #00000040;
  border-radius: 1em;
  overflow: hidden;
  
  &:hover {
    scale: 1.01;
  }
  & img {
    object-fit: cover;
  }
  & > span {
    max-width: 80%;
    font-size: 20px;
    margin: 0 0.5em;
    transition: color .2s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  /* & span:hover {
    color: #00000040;
  } */
  & > button {
    position: absolute;
    top: 303px;
    right: 4px;
  }
}
.price {
  font-weight: bold;
  margin: 0 0.6em;
}


