.input {
  flex-grow: 1;
  position: relative;
  margin: 0;
  
  & input {
    border-radius: 6px;
    margin: 0;
    width: 100%;
    border: 1.5px solid #000;
    background: #fafafa;
    padding-right: 30px;
    font-size: 17px;
    padding: .3em 2.5em .3em .6em;
  }
  & button:nth-child(2) {
    position: absolute;
    right: 30;
    top: -9;
  }
  & button:last-child {
    position: absolute;
    right: 5;
    top: -9;
  }
}