.burgerMenu {
  display: none;

  & button {
    z-index: 100;
  }

}

@media (max-width: 768px) {
  .burgerMenu {
    display: block;
  }
}

.closeBtn {
  align-self: flex-end;
  background: none;
  border: none;
}

.nav {
  position: absolute;
  right: 0;
  width: 60px;
  display: flex;
  flex-direction: column;
  gap: .5em;
  background-color: #fff;
  padding: .8em;


  & a>div {
    top: 8;
    right: 0;
  }

  &>a {
    & button {
      width: 100%;
      height: 100%;
    }
  }


  &>a:first-child {
    border-radius: 50%;
    overflow: hidden;
    width: 35px;
    height: 35px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
}

.fadeIn {
  animation: fadeIn 0.3s ease forwards;
}

.fadeOut {
  animation: fadeOut 0.3s ease forwards;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}